.envrc
.venv
.vscode
/.idea
**/__pycache__
/config/config.yml
/config/beat_config.py
/migrations/data/ref_*.csv
/config/keycloak.json
/config/oidc.yml
/tests/database.db
/tests/tasks/database.db
/test.py
/tests/settings.db
/tests/meta_audit.db